.nav{
    height: 50px;
    display: flex;
    padding: 10px;
    width: 100%;
    background-color: white;
    color: #424242;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 1;
    top: 0px;
  }
.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.nav ul li a{
    margin: 5px 15px;
}
.nav li{
    
    padding-right: 15px;
    padding-left: 15px;
    /* border: solid gray 1px; */
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 5px 10px rgba(0,0,0,0.20);
}
  